
html, body, #root {
  background-color: #fff3c7;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

* {
  font-family: var(--font-main);
}

.mainDiv {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

header, footer {
  background-color: var(--color-headerFooter);
  text-align: center;
}

.body {
  flex: 1;
  margin: 0 10px 0 10px;
}

input, select {
  background-color: #FFF8E3;
  font-family: var(--font-main)
}

button {
 background-color: #E3DEC5;
}


