html,
#root {
  background-color: var(--color-primary);
  margin: 10;
  padding: 10;
  height: 100%;
  width: 100%;
}

.mainDiv {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

input,
select {
  background-color: var(--color-inputs);
}

button {
  background-color: var(--color-buttons);
}
